body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background: #fff;
  color: #777;
}

/* nav */
nav {
  margin-bottom: 1rem;
}

nav a {
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

nav a:hover,
a:active,
a:focus {
  color: red;
  outline: none;
  text-decoration: none;
}

.form-card {
  background: #fff;
  border-bottom: 7px solid #1e3c72;
  border-top: 7px solid #1e3c72;
  color: black;
  padding: 0 2rem;
}

.form-card h3 {
  color: #000;
  padding: 1rem 0 0.1rem 0;
}

/* hotel card */
.hotel-card {
  border: none !important;
}
.hotel-card .card-img-top {
  border-radius: 0px;
  height: 230px;
}

.hotel-card .card-body {
  padding: 0px !important;
}

.hotel-card .card-body h5 {
  margin: 0.5rem 0;
}

.hotel-card .card-body h5 a {
  color: #777;
}

.hotel-card .card-body p {
  font-size: 0.9rem;
}

.hotels-form {
  background: #283e51; /* fallback for old browsers */
  padding: 1rem;
}

.hotels-container {
  padding: 0.5rem 0 7rem 0;
}

.search-container {
  background: #d3d3d3;
}
.search-card-result {
  box-shadow: 0px 1px 4px rgba(41, 51, 57, 0.5);
  margin: 1rem 0;
  padding: 0.5rem 0;
  background-color: #fff;
}
.search-card-result img {
  height: 190px;
}
.search-card-result h5 {
  font-style: 1.1rem;
  font-weight: 700;
}
.search-card-result p {
  font-size: 0.9rem;
}

.search-card-result .more-offers p {
  margin-bottom: 0.3rem;
}