{% extends "property/base.html" %}
{%  block content %}
<div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
<div class="container">
    <h5> Admin Page </h5>
<p> Welcome, Admin! You can now view a chart that shows the relationship between property prices and reviews. This chart can help you make informed decisions about property pricing and marketing strategies. Enjoy!</p>
</div>
<div class="container">
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1"></script>
    <script>
        var data = {{ data|safe }};
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'Price',
                    data: data.prices,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }, {
                    label: 'Number of Reviews',
                    data: data.reviews,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    
{% endblock %}
