{% extends "property/base.html" %}

{% block content %}
<div class="container mt-5 pt-5 col-6">
  <form method="POST">
  {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
        {{ form.first_name }}
        {% for error in form.first_name.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
        {{ form.last_name }}
        {% for error in form.last_name.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        {% for error in form.email.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
  <div class="mb-3">
    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username }}
    {% for error in form.username.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="mb-3">
    <label for="{{ form.password1.id_for_label }}">Password:</label>
    {{ form.password1 }}
    {% for error in form.password1.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  </div>
  <div class="mb-3">
    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
    {{ form.password2 }}
    {% for error in form.password2.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  </div>
  <button type="submit">Register</button>
</form>
</div>
{% endblock %}